/* CompletionDialog.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.completion-dialog {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 10;
    animation: fadeIn 0.3s;
}

.completion-dialog-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #5D1049;
}

.completion-dialog-buttons .button-container {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #B0A8B9;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.completion-dialog-buttons .button-container:hover {
    background-color: #8C7599;
}
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #5D1049;
    cursor: pointer;
}

