@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.empty_input_dialog{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 10;
    animation: fadeIn 0.3s;
}
.empty-input-dialog-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    background-color: #B0A8B9;

    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.empty-input-dialog-button:hover{
    background-color: #8C7599;
}