/* ListTile.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.list-tile {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #F2E1F3;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.list-tile:hover {
    background-color: #E9ECEF;
}

.list-tile-name {
    font-size: 16px;
    color: #333333;
}

.list-tile-buttons input[type="checkbox"] {
    cursor: pointer;
}

.list-tile-buttons div {
    cursor: pointer;
    transition: transform 0.2s;
}

.list-tile-buttons div:hover {
    transform: scale(1.2);
}
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #5D1049;
    cursor: pointer;
}

